name: E2E

on: [push]

jobs:
  Single_Node:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set environment
      run: export MAVEN_OPTS='-Dmaven.repo.local=.m2/repository -XX:+TieredCompilation -XX:TieredStopAtLevel=1 -XX:+CMSClassUnloadingEnabled -XX:+UseConcMarkSweepGC -XX:-UseGCOverheadLimit -Xmx3g'
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
    - name: Compile Test Codes
      run: ./mvnw checkstyle:check apache-rat:check
    - name: Install
      run: |
        ./mvnw -Dcheckstyle.skip -Drat.skip -T2 -Dmaven.compile.fork -Dmaven.compiler.maxmem=3072 -DskipTests clean install
        ./mvnw -f test/e2e/pom.xml -pl e2e-base clean install
    - name: Single Node Tests(JDK8)
      run: export E2E_VERSION=jdk8-1.3 && bash -x test/e2e/run.sh e2e-single-service
    - name: Single Node Tests(MySQL/JDK8)
      run: export E2E_VERSION=jdk8-1.3 && bash -x test/e2e/run.sh e2e-mysql
    - name: Single Node Tests(JDK9)
      run: export E2E_VERSION=jdk9-1.3 && bash -x test/e2e/run.sh e2e-single-service
    - name: Single Node Tests(JDK11)
      run: export E2E_VERSION=jdk11-1.3 && bash -x test/e2e/run.sh e2e-single-service
    - name: Single Node Tests(JDK12)
      run: export E2E_VERSION=jdk12-1.3 && bash -x test/e2e/run.sh e2e-single-service
    - name: Agent Reboot Tests(JDK8)
      run: export E2E_VERSION=jdk8-1.3 && bash -x test/e2e/run.sh e2e-agent-reboot
    - name: Cluster Tests (ES7/ZK/JDK8)
      run: export E2E_VERSION=jdk8-1.3 DIST_PACKAGE=apache-skywalking-apm-bin-es7.tar.gz ES_VERSION=7.0.0 && bash -x test/e2e/run.sh e2e-cluster/test-runner

  Cluster:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set environment
      run: export MAVEN_OPTS='-Dmaven.repo.local=.m2/repository -XX:+TieredCompilation -XX:TieredStopAtLevel=1 -XX:+CMSClassUnloadingEnabled -XX:+UseConcMarkSweepGC -XX:-UseGCOverheadLimit -Xmx3g'
    - name: Build the Docker image && Compile Test Codes
      run: |
        docker build . --file Dockerfile --tag my-image-name:$(date +%s)
        ./mvnw checkstyle:check apache-rat:check
        ./mvnw -Dcheckstyle.skip -Drat.skip -T2 -Dmaven.compile.fork -Dmaven.compiler.maxmem=3072 -DskipTests clean install
        ./mvnw -f test/e2e/pom.xml -pl e2e-base clean install
    - name: Cluster Tests (ES6/ZK/JDK8)
      run: export E2E_VERSION=jdk8-1.3 && bash -x test/e2e/run.sh e2e-cluster/test-runner
    - name: TTL ES Tests(JDK8)
      run: export E2E_VERSION=jdk8-1.3 && bash -x test/e2e/run.sh e2e-ttl/e2e-ttl-es
    - name: TTL ES7 Tests(JDK8)
      run: export E2E_VERSION=jdk8-1.3 DIST_PACKAGE=apache-skywalking-apm-bin-es7.tar.gz ES_VERSION=7.0.0 && bash -x test/e2e/run.sh e2e-ttl/e2e-ttl-es
